<!DOCTYPE html>
<html lang="en">
{% extends 'dash/base.html' %}
{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achat Analyse</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <div class="col-md-10 col-12 mx-auto mt-4">
        <h3 class="my-4">Montant Total des Achats : {{montant}} DA</h3>

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Year</th>
                    <th scope="col">Montant Total</th>
                </tr>
            </thead>
            <tbody>
                {% for achat in achats %}
                <tr>
                    <td>{{ achat.year }}</td>
                    <td>{{ achat.montant }} DA</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        
        <!-- Bar Chart -->
        <div class="my-4">
            <canvas id="myChart" width="400" height="300"></canvas>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for achat in achats %} '{{ achat.year }}', {% endfor %}],
                        datasets: [{
                            label: 'Montant Total des Achats',
                            data: [{% for achat in achats %} {{ achat.montant }}, {% endfor %}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.7)',
                                'rgba(54, 162, 235, 0.7)',
                                'rgba(255, 206, 86, 0.7)',
                                'rgba(75, 192, 192, 0.7)',
                                'rgba(153, 102, 255, 0.7)',
                                'rgba(255, 159, 64, 0.7)',
                                'rgba(255, 0, 0, 0.7)',
                                'rgba(0, 255, 0, 0.7)',
                                'rgba(0, 0, 255, 0.7)',
                                'rgba(128, 128, 0, 0.7)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(255, 0, 0, 1)',
                                'rgba(0, 255, 0, 1)',
                                'rgba(0, 0, 255, 1)',
                                'rgba(128, 128, 0, 1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            </script>
        </div>

        <h3 class="my-4">Top 10 Fournisseurs</h3>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Fournisseur</th>
                    <th scope="col">Montant Total</th>
                </tr>
            </thead>
            <tbody>
                {% for fournisseur in topFournisseurs %}
                <tr>
                    <td>{{ fournisseur.fournisseur.nomPrenomF }}</td>
                    <td>{{ fournisseur.montant }} DA</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Pie Chart -->
        <div class="my-4">
            <canvas id="myChart1" width="400" height="300"></canvas>
            <script>
                var ctx1 = document.getElementById('myChart1').getContext('2d');
                var myChart1 = new Chart(ctx1, {
                    type: 'pie',
                    data: {
                        labels: [{% for fournisseur in topFournisseurs %} '{{ fournisseur.fournisseur.nomPrenomF }}', {% endfor %}],
                        datasets: [{
                            label: 'Top 10 Fournisseurs',
                            data: [{% for fournisseur in topFournisseurs %} {{ fournisseur.montant }}, {% endfor %}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(255, 0, 0, 0.5)',
                                'rgba(0, 255, 0, 0.5)',
                                'rgba(0, 0, 255, 0.5)',
                                'rgba(128, 128, 0, 0.5)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(255, 0, 0, 0.5)',
                                'rgba(0, 255, 0, 0.5)',
                                'rgba(0, 0, 255, 0.5)',
                                'rgba(128, 128, 0, 0.5)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            </script>
        </div>


    </div>

    {% endblock %}
</body>

</html>
