<!DOCTYPE html>
<html lang="en">
  {% extends 'magasin/base.html' %} {% block content %} {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vente</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  </head>
  <body>
    <div class="col-md-10 col-12 mx-auto mt-4">
      <a href="{% url 'vente' %}" class="btn btn-outline-primary my-3 mx-4">
        Retourner
      </a>
      <div class="row">
        <div class="d-flex justify-content-between">
          <h2>Resultats :</h2>
        </div>
      </div>

      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Payement</th>
            <th scope="col">Date</th>
            <th scope="col">Client</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
            <th scope="col">Consulter</th>
          </tr>
        </thead>
        <tbody>
          {% if ventes|length == 0 %}
          <tr>
            <th scope="row">-</th>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          {% endif %} {% for vente in ventes %}
          <tr>
            <td>{{ vente.CodeV }}</td>
            <td>
              {% if achat.PayeEnt %} Payement Entierement {% else %} Payement
              Partiellement {% endif %}
            </td>
            <td>{{ vente.dateVente }}</td>
            <td>{{ vente.client }}</td>

            <td>
              <a href="" class="btn btn-outline-secondary">Modifier</a>
            </td>
            <td>
              <a
                href="{% url 'delete vente' vente.CodeV %}"
                class="btn btn-danger"
                >Supprimer</a
              >
            </td>
            <td>
              <a href="" class="btn btn-outline-primary">Consulter</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% endblock %}
  </body>
</html>
