
<html lang="en">
  {% extends 'centre/base.html' %} {% block content %} {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajouter Règlement</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  </head>

  <body>
    <div class="col-11 col-md-4 mx-auto mt-5">
    <h2>Ajouter Règlement</h2>
    <form method="post" action="{% url 'add_reglement' %}">
      {% csrf_token %}
      
      {{ form.client.label_tag }}
      {{ form.client }}
      <div id="client-credit">
    
      </div>  <!-- Display client credit here -->
  
      {{ form.montantReg.label_tag }}
      {{ form.montantReg }}
  
      {{ form.dateReg.label_tag }}
      {{ form.dateReg }}
  
      <button type="submit">Save</button>
    </form>
  
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        // Add an event listener to the client field
        const clientField = document.querySelector("#id_client");
        const clientCreditDiv = document.querySelector("#client-credit");
  
        clientField.addEventListener("change", function() {
          // Fetch the selected client's credit using AJAX
          const clientId = clientField.value;
          if (clientId) {
            fetch(`/centre/get_client_credit/${clientId}/`)
              .then(response => response.json())
              .then(data => {
                clientCreditDiv.textContent = `Client Credit: ${data.credit}`;
              })
              .catch(error => {
                console.error('Error fetching client credit:', error);
                clientCreditDiv.textContent = '';
              });
          } else {
            clientCreditDiv.textContent = '';
          }
        });
      });
    </script>
  
    </div>
    
    </body>
</html>
{% endblock %}