{% extends 'centre/base.html' %} {% block content %}{% load static %}
<head>
  
 
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analyse Des Ventes.clients</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
  
    <!-- Add this to your <head> section -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<h2>Top Customers Du Centre</h>


    <canvas id="topCustomerChart" width="60" height="20"></canvas>

    <script>
        var ctx = document.getElementById('topCustomerChart').getContext('2d');
        fetch('/centre/api/top-customer-chart/')
            .then(response => response.json())
            .then(data => {
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.map(entry => entry.customer),
                        datasets: [{
                            label: 'Total Purchases',
                            data: data.map(entry => entry.total_purchases),
                            backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(250, 99, 132, 0.2)',
                            'rgba(70, 102, 192, 0.3)',
                            'rgba(73, 103, 192, 0.4)',
                            'rgba(255, 99, 132, 0.2)',
                                            
                                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(250, 99, 132, 1)',
                                'rgba(70, 102, 192, 1)',
                                'rgba(73, 103, 192, 1)',
                                'rgba(255, 99, 132, 1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            })
            .catch(error => console.error('Error fetching data:', error));
    </script>
{% endblock %}
