
  {% extends 'centre/base.html' %} {% block content %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Transferts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
  <h2>Liste des Transferts Reçus</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Produit</th>
        <th>Date Transfert</th>
        <th>Quantity Transfert</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      {% for transfert in transferts_for_centre1 %}
        <tr>
          <td>{{ transfert.produit }}</td>
          <td>{{ transfert.dateTransfert }}</td>
          <td>{{ transfert.qteTransfert }}</td>
          <td>{{ transfert.cost }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</body>
</html>
{% endblock %}
