{% extends 'centre/base1.html' %} {% block content %} {% load static %}
<!-- centre/paiement.html -->


  
<body>

<div class="container mt-5">
    <h2>Les Avances Du Mois</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Employé</th>
            <th>Date d'avance</th>
            <th>Montant d'avance</th>
        </tr>
        </thead>
        <tbody>
        {% for avance in avances %}
            <tr>
                <td>{{ avance.employe.nomPrenomE }}</td>
                <td>{{ avance.dateAvance }}</td>
                <td>{{ avance.montantAvance }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Ajouter une demande d'avance</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Ajouter une demande d'avance</button>
    </form>
</div>

</body>
</html>
 {% endblock content %} 
