<!DOCTYPE html>
<html lang="en">
  {% extends 'centre/base1.html' %} {% block content %} {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rechercher Employé</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  </head>
  <body>
    <a
      href="{% url 'payroll' %}"
      class="btn btn-outline-primary my-3 mx-4"
      >Retourner</a
    >
    <div class="col-md-10 col-12 mx-auto mt-4">
      <div class="row">
        <div class="d-flex justify-content-between">
          <h2>Resultats :</h2>
        </div>
      </div>

      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Nom Prénom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Telephone</th>
            <th scope="col">Centre</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
          </tr>
        </thead>
        <tbody>
          {% if employes|length == 0 %}
          <tr>
            <th scope="row">-</th>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          {% endif %} {% for employe in employes %}
          <tr>
            <td>{{ employe.CodeE }}</td>
            <td>{{ employe.nomPrenomE }}</td>
            <td>{{ employe.adresseE }}</td>
            <td>{{ employe.telephoneE }}</td>
            <td>{{ employe.centre }}</td>

            <td>
              <a
                href="{% url 'edit employeC' employe.CodeE %}"
                class="btn btn-outline-secondary"
                >Modifier</a
              >
            </td>
            <td>
              <a
                href="{% url 'delete employeC' employe.CodeE %}"
                class="btn btn-danger"
                >Supprimer</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% endblock %}
  </body>
</html>
